mat-form-field{
margin-left: 1rem;
font-size: 14px;
padding: 0px;
}
Input{
    padding: 0em;
}

/* /* 



    margin-left:1rem;
    padding: 0px;
    
} */
/* .mat-form-field-appearance-outline  {
    padding:0;
} */
/* .mat-form-field-infix{
    padding: 0rem;
    border-top: 0em;
} */
/* .mat-form-field-infix{
    padding: 1px;
} */
/* label{
    font-size: small;
    padding:1px;
} */
/* input[type=text]{
    padding:0px;
} */